In [2]:
import tabula
import pandas as pd

#filePaths
mt_file_path = r"D:\University of Moratuwa\Semester 1\Properties of Materials\MT1023_Properties of Materials_Intake 2021_Semester1_student_view.pdf"
cs_file_path = r'D:\University of Moratuwa\Semester 1\Programming Fundamentals\CS1033_2021_S1_StudentView.pdf'
selection_2020_path = r'D:\University of Moratuwa\Semester 1\Results 20th Batch feilds.pdf'
perf_path = r'D:\University of Moratuwa\Semester 1\Field Familirization\BSc Eng Performance Criteria 202012_0.pdf'
ma_file_path = r'D:\University of Moratuwa\Semester 1\Mathermatics\MA1014_Mathematics_Intake 2021_Semester 1_Final Grades_view.pdf'
ee_file_path = r'D:\University of Moratuwa\Semester 1\Electrical Fundamentals\EE1040_Provincial Results Display.pdf'
ce_file_path = r'D:\University of Moratuwa\Semester 1\Fluid Mechanics\CE1023_Fluid Mechanics_Intake 2021_Semester 1_student_view.pdf'
results_5_path = r'D:\University of Moratuwa\Semester 1\GPA MoraE21 as on 14 Jan-1.pdf'

def get_data_frame(filepath):
    return pd.concat(tabula.read_pdf(filepath, pages='all'))


def to_csv(df, filePath):
    if '.csv' not in filePath:
        filePath = filePath + '.csv'
    df.to_csv(filePath, index = False)
    
#df_list = tabula.read_pdf(perf_path, pages = 'all')
#df_list = get_data_frame(selection_2020_path)
#to_csv(df_list, 'CSVs\\selection_2020_results.csv')

#to_csv(get_data_frame(results_5_path), 'CSVs\\results_5.csv')


'''
i = 1
for df in df_list:
    print('\n Block:',i,'\n')
    print(df)
    i += 1

to_csv(df_list[5], 'CSVs\\Grade_levels')
to_csv(df_list[6], 'CSVs\\Class_GPAs')
to_csv(df_list[7], 'CSVs\\Eng_Fields')
'''

#cs_df = get_data_frame(cs_file_path)
#mt_df = get_data_frame(mt_file_path)
#ma_df = get_data_frame(ma_file_path)
#ce_df = get_data_frame(ce_file_path)
#ee_df = get_data_frame(ee_file_path)

#cs_df.to_csv('CSVs\\CS1033_results.csv', index = False)
#mt_df.to_csv('CSVs\\MT1023_results.csv', index = False)

#to_csv(ma_df, 'CSVs\\MA1014_results.csv')
#to_csv(ce_df, 'CSVs\\EE1040_results.csv')
#to_csv(ee_df, 'CSVs\\CE1023_results.csv')

print('Success!')

Success!

In [3]:
import pandas as pd

selection_2020 = pd.read_csv('CSVs\\2021_batch_semester_01_results - Sheet1.csv')
#
print(selection_2020.loc[selection_2020['Index_Number'] == '210312V'])

#"2021_batch_semester_01_results - Sheet1.csv"

    Index_Number CE1023 Unnamed: 2 CS1033 Unnamed: 4 EE1040 Unnamed: 6 MA1014  \
314      210312V     A-        3.7     A-        3.7     C+        2.3    NaN

    Unnamed: 8 ME1033  ...   Rank Unnamed: 15 Unnamed: 16  Unnamed: 17  \
314        NaN    NaN  ...  493.0         NaN         NaN          NaN

     Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
314          NaN          NaN          NaN          NaN          NaN

     Unnamed: 23
314          NaN

[1 rows x 24 columns]

In [4]:
import pandas as pd

results = pd.read_csv('CSVs\\results_5.csv')
print(list(results.columns))

['210001R', 'AATHIF M.N.M.', 'A+', '4', 'A', '4.1', 'A-', '3.7', 'A+.1', '4.2', 'A-.1', '3.7.1', 'Unnamed: 0', 'Unnamed: 1', '3.85', '76', '210046H', 'ANUTHTHARA G.S.', 'B', '3', 'B+', '3.3', 'B.1', '3.1', '3.33333333', '429', '210094C', 'DANINDI H.M.T.', 'B-', '2.7', 'C+', '2.3', 'C+.1', '2.3.1', 'I-we', '0', '1.95833333', '714', '210141U', 'DISSANAYAKA D.M.S.P.', 'A.1', '4.3', '3.825', '89', '210188T', 'GODAGEDARA M.J.S.S.', 'C', '2', '2.91666667', '603', '210235L', 'JANANJANA N.M.O.', '3.15833333', '512', '210282C', 'KAVINDA S.A.C.', 'B+.1', '3.3.1', '3.70833333', '170', '210329E', 'LAKSARA K.Y.', 'A.2', '3.625', '231', '210376T', 'MANISHI PRABASHA P.A.', '3.5', '321', '210423L', 'NETHSARANI K.A.H.N.', '2.99166667', '575', '210469G', 'PERERA P.D.P.', '210516B', 'RANASINGHE H.H.K.D.', 'C-', '1.5', 'C.1', '2.1', '1.46666667', '727', '210563N', 'SANDAMAYURA B.H.I.', 'I-ca', '2.85833333', '622', '210609M', 'SILVA M.K.Y.U.N.', '3.875', '70', '210656D', 'THUSHKARANEY S.', '3.58333333', '258', '210703V', 'WICKRAMARATHNE M.P.', 'A.3']

In [5]:
import math
import tabula
import pandas as pd

cs_df = pd.read_csv('CSVs\\CS1033_results.csv')
mt_df = pd.read_csv('CSVs\\MT1023_results.csv')
ma_df = pd.read_csv('CSVs\\MA1014_results.csv')
ee_df = pd.read_csv('CSVs\\EE1040_results.csv')
ce_df = pd.read_csv('CSVs\\CE1023_results.csv')

grade_list = [cs_df,mt_df,ma_df,ee_df,ce_df]

def find_grade_count(df):
    return df.groupby(['Grade']).count()
 
filtered_data = []
for grade in grade_list:
    filtered_data.append(find_grade_count(grade))

final_df = pd.concat(filtered_data, axis = 1)
final_df.columns = ['CS', 'MT','MA','EE','CE']

#print(final_df)
grade_list = list(final_df.index)


grade_df = pd.read_csv('CSVs\\Grade_levels.csv')
grade_df = grade_df.drop(columns = ['Description','Benchmark Percentage'])
grades = grade_df.to_numpy().tolist()
print(grades)
avg_gpa_list = [0,0,0,0,0]
for row in final_df.itertuples():
    for grade in grades:
        if grade[0] == row[0]:
            for i in range(len(avg_gpa_list)):
                if not math.isnan(row[i + 1]):
                    avg_gpa_list[i] += float(grade[1]) * int(row[i + 1])
            #avg_gpa_list[0] += float(grade[1]) * row[1]
col_list = list(final_df.columns)
final_df.loc['Sum'] = final_df[col_list].sum(axis=0)
print(avg_gpa_list)
final_df.loc['Sum.'] = avg_gpa_list
final_df.loc['Avg.'] = final_df.loc['Sum.'] / final_df.loc['Sum']
col_list = list(final_df.columns)

print(final_df)
#print(cs_df.groupby('Grade').count().index)
'''
merged1_df = pd.merge(cs_df, mt_df, on="Index No.")
merged2_df = pd.merge(merged1_df, ma_df, on="Index No.")
merged3_df = pd.merge(merged2_df, ma_df, on="Index No.")
merged4_df = pd.merge(merged3_df, ce_df, on="Index No.")
print(merged4_df)
'''

#print(cs_df.join([mt_df,ma_df,ee_df,ce_df]))
#print(merged_df.loc[merged_df['Index No.'] == '210312V'])

[['A+', '4.00'], ['A', '4.00'], ['A-', '3.70'], ['B+', '3.30'], ['B', '3.00'], ['B-', '2.70'], ['C+', '2.30'], ['C', '2.00'], ['C-', '1.70'], ['D', '1.00'], ['F', '0.0'], ['I-we', '0.0'], ['I-ca', '0.0'], ['N', '---'], ['W', '---']]
[2963.8, 3202.7000000000003, 2614.6999999999994, 3359.4, 3258.2999999999997]
                CS           MT           MA           EE           CE
Grade
A       181.000000   341.000000    54.000000   239.000000   214.000000
A+       26.000000    99.000000    15.000000   197.000000    70.000000
A-      147.000000   134.000000    64.000000   116.000000   153.000000
B       119.000000    74.000000   165.000000    95.000000   118.000000
B+      130.000000   102.000000   108.000000   106.000000   133.000000
B-       98.000000    59.000000   158.000000    82.000000   111.000000
C        83.000000    36.000000   161.000000    88.000000   114.000000
C+       95.000000    45.000000   186.000000    64.000000    98.000000
C-       74.000000    25.000000    43.000000     4.000000     6.000000
D        31.000000    11.000000     1.000000          NaN          NaN
F        18.000000    19.000000    11.000000    11.000000    12.000000
I         1.000000     4.000000          NaN     4.000000     1.000000
I-ca      6.000000     9.000000          NaN    12.000000          NaN
I-we    109.000000    10.000000   121.000000    98.000000    99.000000
Sum    1118.000000   968.000000  1087.000000  1116.000000  1129.000000
Sum.   2963.800000  3202.700000  2614.700000  3359.400000  3258.300000
Avg.      2.650984     3.308574     2.405428     3.010215     2.886005

'\nmerged1_df = pd.merge(cs_df, mt_df, on="Index No.")\nmerged2_df = pd.merge(merged1_df, ma_df, on="Index No.")\nmerged3_df = pd.merge(merged2_df, ma_df, on="Index No.")\nmerged4_df = pd.merge(merged3_df, ce_df, on="Index No.")\nprint(merged4_df)\n'

In [102]:
181*4 + 26*4 + 147 * 3.7 + 119 * 3 + 130 * 3.3 + 98 * 2.7 + 83 * 2 + 95 * 2.3 + 74 * 1.7 + 31 * 1

2963.8

In [6]:
import math
import tabula
import pandas as pd

#loading data
cs_df = pd.read_csv('CSVs\\CS1033_results.csv')
mt_df = pd.read_csv('CSVs\\MT1023_results.csv')
ma_df = pd.read_csv('CSVs\\MA1014_results.csv')
ee_df = pd.read_csv('CSVs\\EE1040_results.csv')
ce_df = pd.read_csv('CSVs\\CE1023_results.csv')

sub_list = [cs_df,mt_df,ma_df,ee_df,ce_df]

#final_df = pd.concat(sub_list, axis = 1)
#final_df.columns = ['CS', 'MT','MA','EE','CE']

#print(final_df)

In [7]:
import pandas as pd
from tabulate import tabulate

df = pd.read_csv('CSVs\\selection_2020_results.csv')
df = df.drop(columns=['Depart'])

df = df.drop([164])
cols = list(df.columns)
bioE = df[cols[:4]]
bioE.dropna(inplace=True)

field_list = []
for index in range(0,21,4):
    field = df[cols[index:(index + 4)]]
    field.dropna(inplace = True)
    field.columns = ['Index','Name','Rank','SGPA']
    for row in field.iterrows():
        if not str(row[1].values[2]).isnumeric():
            field = field.drop([row[0]])
        #print(row[1].values[3])
        #print(type(row[1].values[2]))
    field_list.append(field)

gpa_series = pd.concat(field_list)
gpa_series = gpa_series.sort_values('SGPA' , ascending = False)
gpa_series = gpa_series.reset_index(drop = True)
gpa_series.SGPA = pd.to_numeric(gpa_series.SGPA)

print(gpa_series.count())
print('Mean SGPA :' , gpa_series.SGPA.mean()) , '\n'

print(tabulate(gpa_series.sample(n = 10), headers = 'keys' , tablefmt = 'rounded_outline'))

#print(df.iloc[164])
#print(selection_2020.loc[selection_2020['Index_Number'] == '210312V'])

Index    594
Name     594
Rank     594
SGPA     594
dtype: int64
Mean SGPA : 3.414713804713805
╭─────┬─────────┬────────────────────────┬────────┬────────╮
│     │ Index   │ Name                   │   Rank │   SGPA │
├─────┼─────────┼────────────────────────┼────────┼────────┤
│ 580 │ 200534T │ RATHNAWEERA W.C.S.     │    718 │   2.14 │
│ 542 │ 200146F │ DISSANAYAKE T.K.D.C.M. │    633 │   2.68 │
│ 583 │ 200097E │ DAMAYANTHA K.A.T.      │    734 │   1.91 │
│ 299 │ 200450G │ PATHIRATHNE P.S.N.     │    327 │   3.54 │
│ 100 │ 200671J │ UMAYANGA S.A.I.        │     97 │   3.94 │
│ 495 │ 200438D │ OSHADHA K.S.G.A.       │    551 │   2.95 │
│ 167 │ 200348C │ LIYANAGE K.            │    176 │   3.79 │
│ 211 │ 200629N │ SUMATHIPALA H.E.S.     │    222 │   3.71 │
│ 150 │ 200569E │ SANDARUSIRU L.D.S.N.   │    159 │   3.84 │
│  50 │ 200240M │ JATHUSHAN R.           │      1 │   4    │
╰─────┴─────────┴────────────────────────┴────────┴────────╯

C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bioE.dropna(inplace=True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)
C:\Users\Nuwantha Kumara\AppData\Local\Temp\ipykernel_2784\452422577.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  field.dropna(inplace = True)

In [8]:
df

,Beion tM Readnickal Engineering,Unnamed: 0,Chemical and Process Engineering,Unnamed: 1,Civil Engineering,Unnamed: 2,Computer Science Engineering,Unnamed: 3,Electrical Engineering,Unnamed: 4,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Name,GPA,Index Number,GPA,Name,GPA,Index Number,Rank,Name,GPA,...,Index Number,GPA,Name,GPA,Index Number,NaN,Name,GPA,Index Number,NaN
1,200023C,AMARASEKARA A.T.P.,1,4.00,200059P,BALASOORIYA L.G.,195,3.76,200078X,Thushan Chamika,...,1,4.00,200006D,ABEYSINGHE A.A.C.L.,64,3.96,200102T,DASANAYAKA D.M.S.D.,1,4.00
2,200061N,BANDARA D.M.D.V.,1,4.00,200632R,SUVETHIGA J.,244,3.66,200519D,kumudulaksitha@gmail.com,...,1,4.00,200283V,KANCHANA O.G.W.P.K.,64,3.96,200125P,DHARMASRI N.T.,1,4.00
3,200173J,FONSEKA K.W.T.S.,1,4.00,200497F,RAJAPAKSHA R.A.S.W.,289,3.60,200069V,BANDARA N.R.S.M.,...,1,4.00,200254J,JAYASEKERA G.L.N.,279,3.61,200460L,PERERA M.A.Y.,1,4.00
4,200212F,HERATH H.M.E.A.C.,1,4.00,200264N,JAYATHISSA RMPG,302,3.58,200470R,PRABASHA G.D.K.,...,1,4.00,200697T,Nonimi Aloka WATHURUPATHA,424,3.29,200707D,WENIWELKOLA K.T.R.J.,64,3.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN